<?xml version="1.0" encoding="utf-8"?>
<!-- 定义MSBuild项目文件，版本为4.0，命名空间为http://schemas.microsoft.com/developer/msbuild/2003 -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <!-- 定义属性组 -->
  <PropertyGroup>
    <!-- 定义发布目录 -->
    <PublishDir>bin\Debug\net7.0-android\publish\</PublishDir>
    <!-- 定义发布协议 -->
    <PublishProtocol>FileSystem</PublishProtocol>
    <!-- 定义运行时标识符 -->
    <RuntimeIdentifier>win10-x64</RuntimeIdentifier>
    <!-- 定义平台 -->
    <Platform>Any CPU</Platform>
    <!-- 定义配置 -->
    <Configuration>Debug</Configuration>
    <!-- 定义目标框架 -->
    <TargetFramework>net7.0-windows10.0.19041.0</TargetFramework>
    <!-- 定义是否发布单个文件 -->
    <PublishSingleFile>false</PublishSingleFile>
    <PublishReadyToRun>false</PublishReadyToRun>
    <SelfContained>True</SelfContained>
    <PublishAppxPackage>true</PublishAppxPackage>
    <AppxPackageDir>bin\Debug\net7.0-windows10.0.19041.0\win10-x64\AppPackages\</AppxPackageDir>
  </PropertyGroup>
</Project>